﻿@model Pielgrzym2.Models.LoginViewModel

<div class="panel panel-default">
    <div class="panel-heading">Logowanie</div>
    <div class="panel-body">
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Adres e-mail"})
                @Html.ValidationMessageFor(m=>m.Email, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Hasło"})
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                <label for="remember"> Zapamiętaj mnie</label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Zaloguj">
                    </div>
                </div>
            </div>
        }
    </div>
</div>