﻿@model Pielgrzym2.Models.RegisterViewModel

<div class="panel panel-default">
    <div class="panel-heading">Pierwszy raz na naszym portalu? Zarejestruj się tutaj!</div>
    <div class="panel-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Adres e-mail"})
            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Hasło"})
            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Powtórz hasło" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Imię" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Nazwisko" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Ulica" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Miasto" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Kod pocztowy" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Numer telefonu" })
            </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Utwórz konto">
            </div>
        </div>
    </div>
        }
    </div>
</div>