﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PrzyjmijPielgrzyma.pl</title>
    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/metronic")*@

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <style>
        #map-canvas {
            display: block;
            padding: 21%;
        }
    </style>

</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.4&appId=1630554430517341";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="/Content/img/logo_white.png" style="margin-top: -15px; max-height: 50px;" /></a>
            </div>
            <div class="navbar-collapse collapse nav navbar-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()

        <br />
        <div class="col-md-12 navbar navbar-fixed-bottom navbar-right">
            <footer style="margin-top: 10px;">
                <div style="float: right;" class="fb-like" data-href="https://www.facebook.com/przyjmijpielgrzyma" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                <p style="text-align: right;">
                    &copy; @DateTime.Now.Year - <a href="http://PrzyjmijPielgrzyma.pl">PrzyjmijPielgrzyma.pl</a> with &hearts; by Karol Suchecki and Krzysztof Paliga | <a href="@Url.Action("Tos", "Home")"> Regulamin korzystania</a> | <a href="@Url.Action("About", "Home")">O nas &nbsp;</a>
                </p>
            </footer>
        </div>
    </div>




    @*<script>
        jQuery(document).ready(function () {
            App.init();
            Login.init();
        });
        </script>*@

    <script>
        $('#SmsServiceCode_Value').change(function () {
            if (this.value == -5) {
                $('#smsText').html("Wybrałeś wartość 5zł (miesiąc ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>1234</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
            if (this.value == -10) {
                $('#smsText').html("Wybrałeś wartość 10zł (kwartał ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>2345</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
            if (this.value == -15) {
                $('#smsText').html("Wybrałeś wartość 15zł (pół roku ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>3456</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
            if (this.value == -20) {
                $('#smsText').html("Wybrałeś wartość 20zł (rok ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>4567</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
        });

        $('.overFiveBeds').change(function () {
            if (this.value == 10) {
                $('#smsText').html("Wybrałeś wartość 10zł (miesiąc ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>2345</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
            if (this.value == 15) {
                $('#smsText').html("Wybrałeś wartość 15zł (kwartał ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>3456</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
            if (this.value == 20) {
                $('#smsText').html("Wybrałeś wartość 20zł (pół roku ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>4567</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
            if (this.value == 30) {
                $('#smsText').html("Wybrałeś wartość 30zł (rok ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>5678</b> aby otrzymać kod zwrotny do wpisania poniżej.");
            }
        });

        $('input[name=BedsAmount]').change(function () {
            if (parseInt($(this).val()) > 5) {
                $('#underFiveBeds').hide();
                $('#overFiveBeds').show();
            } else {
                $('#underFiveBeds').show();
                $('#overFiveBeds').hide();
            }
        });
    </script>


    <div class="modal fade" id="modalContact">
        <div class="modal-dialog modal-lg modal-contact">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Formularz kontaktowy</h4>
                </div>
                <div class="modal-body" id="modalContactBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(document).ready(function () {
            $('#contactAdminOpen').click(function () {
                $('#modalContactBody').load('/Home/Contact/');
                $('#modalContact').modal();
                return false;
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
