﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li>
            <a href="#"><i class="fa fa-user"></i> Witaj @User.Identity.GetUserName()!</a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Advertisement")"><i class="fa fa-plus"></i> Dodaj ogłoszenie</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Advertisement")"><i class="fa fa-list"></i> Twoje ogłoszenia</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Wyloguj</a></li>
        <li><a id="contactAdminOpen" href="#"><i class="fa fa-envelope"></i> Kontakt do administratora</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Account")"><i class="fa fa-pencil"></i> Logowanie / rejestracja</a></li>
        <li><a id="contactAdminOpen" href="#"><i class="fa fa-envelope"></i> Kontakt</a></li>
    </ul>
}
