﻿@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="title text-center">Witamy na stronie </h2>
    @if (@TempData["wiadomosc"] != null)
    {
        if ((bool) TempData["poprawnie"] == true)
        {
            <div class="alert alert-success">@TempData["wiadomosc"].ToString()</div>
        }
        else
        {
            <div class="alert alert-warning">@TempData["wiadomosc"].ToString()</div>
        }
    }

    <div class="col-md-12">
        <p class="title">
            Witamy na portalu PrzyjmijPielgrzyma.pl
        </p>
        <p>
            Portal służy do zgromadzenia osób chcących udostępnić swoje mieszkanie przyjeżdżającym do Krakowa na czas Światowych Dni Młodzieży 2016 podróżnym.
        </p>
    </div>

    <div class="col-md-6">
        <a style="max-height: 400px; max-width: 400px; padding: 40px;" class="btn btn-default btn-info btn-lg" href="@Url.Action("Create", "Advertisement")"><i class="fa fa-plus-circle" style="font-size: 50px; padding: 20px;"></i><b style="font-size: 42px; display: table-cell; padding: 10px;"> &nbsp;Dodaj nowe <br/>ogłoszenie</b></a>
    </div>
    <div class="col-md-6">
        <a style="max-height: 400px; max-width: 400px; padding: 40px;" class="btn btn-default btn-success btn-lg" href="@Url.Action("Search", "Home")"><i class="fa fa-search" style="font-size: 50px; padding: 20px;"></i><b style="font-size: 42px; display: table-cell; padding: 10px;">Pokaż istniejące <br/>ogłoszenia&nbsp;</b></a>
    </div>
</div>