﻿@{
    ViewBag.Title = "Szukaj noclegu";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>*@

<div style="margin-bottom: 5px;">
    <a class="btn btn-info" href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-arrow-left"></i> Powrót do strony głównej</a>
</div>

<div id="map-canvas" class="col-md-10"></div>

<div class="col-md-2">
    <ul>Legenda:
        <li class="fa fa-arrow-circle-right" style="margin-bottom: 2px;"> <img src="/Content/img/markers/empty.png"/> Wszystkie miejsca dostępne</li>
        <li class="fa fa-arrow-circle-right" style="margin-bottom: 2px;"> <img src="/Content/img/markers/occupied.png"/> Niektóre miejsca wolne</li>
        <li class="fa fa-arrow-circle-right" style="margin-bottom: 2px;"> <img src="/Content/img/markers/full.png"/> Brak wolnych miejsc</li>
    </ul>
</div>



<div class="modal fade" id="modalDetails">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detale ogłoszenia</h4>
            </div>
            <div class="modal-body" id="modalDetailsBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="https://maps.googleapis.com/maps/api/js"></script>


<script>

    var flats = [];

    $(document).ready(function() {
        $.ajax({
                type: 'GET',
                url: '/Home/GetFlats',
                data: {}
            })
            .done(function(data) {
                $.each(data, function(index, value) {
                    var flat = [];
                    flat.push(value.Lat);
                    flat.push(value.Lng);
                    flat.push(value.AdvertisementId);
                    flat.push(value.AdStatus);
                    flats.push(flat);
                });
                initialize();
            });
    });


    function initialize() {

        var mapOptions = {
            zoom: 10,
            center: new google.maps.LatLng(50.060, 19.959)
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        setMarkers(map, flats);
    }


    function setMarkers(map, locations) {
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < locations.length; i++) {
            var flat = locations[i];
            //console.log(flat[3]);

            var status = "/Content/img/markers/empty.png";

            if (flat[3] == 1) {
                status = "/Content/img/markers/occupied.png";
            }
            if (flat[3] == -1) {
                status = "/Content/img/markers/full.png";
            }

            console.log(status);

            var myLatLng = new google.maps.LatLng(flat[0], flat[1]);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                shape: shape,
                icon: status,
                //title: beach[0],
                //zIndex: flat[2],
                id: flat[2]
            });

            google.maps.event.addListener(marker, 'click', function () {
                $('#modalDetailsBody').load('/Advertisement/Details/' + this.id);
                $('#modalDetails').modal();
            });
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    //function initialize() {
    //    var mapCanvas = document.getElementById('map-canvas');
    //    var myposition = new google.maps.LatLng(50.057249, 21.628818);
    //    var mapOptions = {
    //        center: myposition,
    //        zoom: 16,
    //        mapTypeId: google.maps.MapTypeId.ROADMAP
    //    }
    //    var map = new google.maps.Map(mapCanvas, mapOptions);
    //    var marker = new google.maps.Marker({
    //        position: myposition,
    //        map: map,
    //        title: 'Tutaj jesteśmy!'
    //    });
    //}
    //google.maps.event.addDomListener(window, 'load', initialize);

</script>
