﻿@model Pielgrzym2.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Rejestracja";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>Powiąż swoje konto @ViewBag.LoginProvider .</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            Pomyślnie zarejestrowałeś/aś się za pomocą portalu <strong>@ViewBag.LoginProvider</strong>.
            Prosimy o podanie tylko kilku ważnych rzeczy i od razu możesz rozpocząć korzystanie z naszego portalu!
        </p>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Adres e-mail" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Imię" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Nazwisko" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Ulica" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Miasto" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Kod pocztowy" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Numer telefonu" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Zarejestruj" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
