﻿<div id="uploadedFiles">
    <div class="row">
        @foreach (var file in Model)
        {
            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <div class="thumbnail" href="#">
                    <a href="#"><img class="img-responsive" src="~/@file.FullPath" alt=""></a>
                </div>
            </div>

        }

    </div>
</div>
