﻿@model Pielgrzym2.Models.ContactViewModel

@using (Html.BeginForm("Contact", "Advertisement", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OwnerMail)
    
    <div class="form-group">
        @Html.LabelFor(model => model.UserMail, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserMail, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.UserMail, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Message, new {@class = "form-control", rows = 10})
            @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}