﻿@model Pielgrzym2.Models.AddAdverisementViewModel

@{
    ViewBag.Title = "Dodaj";
}

<div class="container container-fluid">
    <h2>Dodaj nowe ogłoszenie</h2>

    @if (TempData["blad"] != null)
    {
        <div class="alert alert-danger">@TempData["blad"].ToString()</div>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AdContent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.AdContent, new { @class = "form-control", @rows = 5 })
                    @Html.ValidationMessageFor(model => model.AdContent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BedsAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BedsAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BedsAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PricePerBed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PricePerBed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PricePerBed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="underFiveBeds" class="form-group">
                @Html.LabelFor(model => model.SmsValueList, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SmsServiceCode.Value, Model.SmsValueList, new { @class = "form-control" })
                </div>
            </div>

            <div id="overFiveBeds" class="form-group" hidden>
                @Html.LabelFor(model => model.SmsValueListOverFiveBeds, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SmsServiceCode.Value, Model.SmsValueListOverFiveBeds, new { @class = "form-control overFiveBeds" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Wiadomość SMS", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <text class="form-control" id="smsText" style="text-align: center; background: #afeeee">
                        Wybrałeś wartość 5zł (miesiąc ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>1234</b> aby otrzymać kod zwrotny do wpisania poniżej.
                    </text>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SmsServiceCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SmsServiceCode.SmsCode, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj ogłoszenie" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
