﻿@model Domain.Entities.Advertisement

@{
    ViewBag.Title = "Usuń ogłoszenie";
}

<div class="container">
    <h3 class="alert">Czy na pewno chcesz usunąć ogłoszenie?</h3>
    <div class="alert alert-info">Usunięcie ogłoszenia <b>NIE</b> zwróci kosztu wysłania SMS.</div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Treść ogłoszenia")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdContent)
            </dd>

            <dt>
                @Html.DisplayName("Ilość miejsc")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BedsAmount)
            </dd>

            <dt>
                @Html.DisplayName("Cena za miejsce")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PricePerBed)
            </dd>

            <dt>
                @Html.DisplayName("Aktywne?")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayName("Ilość miejsc zajętych")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BedsTaken)
            </dd>

            <dt>
                @Html.DisplayName("Ulica")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt>
                @Html.DisplayName("Miejscowość")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-danger" />
                @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-success" })
            </div>
        }
    </div>
</div>