﻿@model Pielgrzym2.Models.DetailAdvertisementViewModel
<div class="row">
    <div class="col-md-7">
        <table class="table">
            <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            @*<tr>
                <td>
                    @Html.DisplayNameFor(model => model.CreationTime)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreationTime)
                </td>
            </tr>*@
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AdContent)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AdContent)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BedsAmount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BedsAmount)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BedsTaken)
                </td>
                <td>
                    @Html.Raw(Model.BedsAmount - Model.BedsTaken)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PricePerBed)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PricePerBed)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Street)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Street)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PostalCode)
                </td>
            </tr>
            </tbody>

        </table>

        <div class="form-group">
            @if (Model.City == "Kraków")
            {
                <a class="btn btn-lg btn-danger" href="@String.Format("http://jakdojade.pl/?fn={0}&tn=Cracovia%20Błonia&tc=50.05892:19.92195&cid=5000&locale=en", Model.Street.Replace(" ", "%20"))" target="_blank"><b>Dojazd</b></a>
            }
            else
            {
                <a class="btn btn-lg btn-danger" href="@String.Format("https://www.google.com/maps/dir/{0}/Błonia Krakowskie/", Model.Street + ", " + Model.City)" target="_blank"><b>Dojazd</b></a>
            }
            <a id="contactOpen" class="btn btn-lg btn-info" href="@Url.Action("Details", "Advertisement", new {id = Model.Id})"><b>Kontakt z właścicielem</b></a>
        </div>

    </div>
    <hr/>
    <div class="col-md-5">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Images.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                }
                @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < Model.Images.Count(); i++)
                {
                    if (i == 0)
                    {
                        <div class="item active">
                            <img src="~/@Model.Images[i].FullPath" class="img-responsive" alt="@Model.Images[i].FileName">
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img src="~/@Model.Images[i].FullPath" class="img-responsive" alt="@Model.Images[i].FileName">
                        </div>
                    }

                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>
<style>
    .carousel, .item, .active {
        height: 50%;
    }
    .carousel-inner {
        height: 50%;
    }
    .carousel {
        margin-bottom: 60px;
    }
    .carousel-caption {
        z-index: 10;
    }
    .carousel .item {
        background-color: #777;
    }
    .carousel .carousel-inner .bg {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel .carousel-inner .bg1 {
        background-image: url(bg1.jpg);
        background-position: center top;
    }
    .carousel .carousel-inner .bg2 {
        background-image: url(bg2.jpg);
        background-position: center center;
    }
    .carousel .carousel-inner .bg3 {
        background-image: url(bg3.jpg);
        background-position: center bottom;
    }
</style>

<script>
    $(document).ready(function () {
        $('#contactOpen').click(function () {
            $('#modalContactBody').load('/Advertisement/Contact/' + @Model.Id);
            $('#modalContact').modal();
            return false;
        });
    });
</script>

    
