﻿@model Domain.Entities.Advertisement

@{
    ViewBag.Title = "Edycja";
}

<div class="container">
    <h2>Edycja ogłoszenia</h2>

    @if (TempData["editedSuccess"] != null)
    {
        <div class="alert alert-danger">@TempData["editedSuccess"].ToString()</div>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Ilość zajętych łóżek", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BedsTaken, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BedsTaken, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz zmianę" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Powrót do listy ogłoszeń", "Index")
    </div>
</div>