﻿@model Domain.Entities.Advertisement
@{
    ViewBag.Title = "FilesUploader";
}

<h2>FilesUploader</h2>


    @using (Html.BeginForm("UploadFiles", "Advertisement", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "dropzone", @id = "dropzoneForm" }))
    {
        @Html.HiddenFor(model => model.Id, new {@id = "advertisementId"})
        <div class="fallback">
            <input name="file" type="file" multiple/>
            <input type="submit" value="Upload"/>
        </div>
    }


    @Html.Partial("_uploadedFiles", Model.ImagesCollection)


<style>
    .thumb {
        margin-top: 10px;
    }

    .thumbnail > a {
        display: block;
        /* 4:3 aspect ratio */
        padding-top: 75%;
        /* center align pt. 1 */
        position: relative;
    }

        .thumbnail > a > img {
            /* fit within container */
            max-width: 100%;
            max-height: 100%;
            /* center align pt. 2 */
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
</style>
<script type="text/javascript">
    //File Upload response from the server
    Dropzone.options.dropzoneForm = {
        acceptedFiles: '.jpg,.png',
        init: function () {
            this.on('maxfilesexceeded', function (data) {
                eval('(' + data.xhr.responseText + ')');
            });

            this.on('addedfile', function (file) {
                // Create the remove button
                var removeButton = Dropzone.createElement('<button>Remove file</button>');


                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener('click', function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();
                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.

                });

                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
            });

            this.on('complete', function(data) {
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    $.ajax({
                        type: 'GET',
                        url: '/Advertisement/RefreshFile',
                        data: { advertisementId: @Model.Id }
                    })
                     .done(function(data) {
                         $('#uploadedFiles').replaceWith(data);
                     });                 
                }

            });
        }
    };
</script>