﻿@model IEnumerable<Pielgrzym2.Models.AdvertisementListViewModel>

@{
    ViewBag.Title = "Twoje ogłoszenia";
}



<div class="container container-fluid">
    <h2>Twoje ogłoszenia</h2>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-info">@TempData["message"]</div>
    }
    @if (TempData["editedSuccess"] != null)
    {
        <div class="alert alert-success">@Html.Raw(TempData["editedSuccess"].ToString())</div>
    }
    <p>
        @Html.ActionLink("Dodaj nowe ogłoszenie", "Create", null, new {@class = "btn btn-info"})
    </p>
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDateString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerBed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedsTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BedsAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerBed)
                </td>
                <td>
                    @if (item.ExpirationDate > DateTime.UtcNow)
                    {
                        @Html.CheckBox("IsActive", true, new {@disabled = "disabled"})
                    }
                    else
                    {
                        @Html.CheckBox("IsActive", false, new {@disabled = "disabled"})
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BedsTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new {id = item.Id}, new {@class = "btn btn-warning", style = "margin: 1px;"})
                    @Html.ActionLink("Usuń", "Delete", new {id = item.Id}, new {@class = "btn btn-danger", style = "margin: 1px;"})
                    @Html.ActionLink("Przedłuż", "Prolong", new {id = item.Id}, new {@class = "btn btn-info", style = "margin: 1px;"})
                </td>
            </tr>
        }

    </table>
</div>
