﻿@model Pielgrzym2.Models.ProlongAdvertisementViewModel

@{
    ViewBag.Title = "Prolong";
}

<div class="container">
    <h2>Przedłuż ogłoszenie</h2>

    @if (TempData["blad"] != null)
    {
        <div class="alert alert-danger">@TempData["blad"].ToString()</div>
    }
    <div class="alert alert-info">Twoje ogłoszenie będzie przedłużone o wybrany przez Ciebie okres <b>od dnia zakończenia poprzedniej ważności!</b> <br/> Czyli, jeżeli ogłoszenie zakończyło się miesiąc temu i zostanie przedłużone o miesiąc, to będzie nadal nieaktualne!</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.OldExpirationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OldExpirationDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.OldExpirationDate, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.BedsAmount <= 5)
            {
                <div id="underFiveBeds" class="form-group">
                    @Html.LabelFor(model => model.SmsValueList, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SmsServiceCode.Value, Model.SmsValueList, new {@class = "form-control"})
                    </div>
                </div>
            }
            else
            {
                <div id="overFiveBeds" class="form-group">
                    @Html.LabelFor(model => model.SmsValueListOverFiveBeds, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SmsServiceCode.Value, Model.SmsValueListOverFiveBeds, new {@class = "form-control overFiveBeds"})
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.Label("Wiadomość SMS", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <text class="form-control" id="smsText" style="text-align: center; background: #afeeee">
                        Wybrałeś wartość 5zł (miesiąc ważności) - wyślij SMS o treści <b>AP.Pielgrzym</b> na numer <b>1234</b> aby otrzymać kod zwrotny do wpisania poniżej.
                    </text>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SmsServiceCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SmsServiceCode.SmsCode, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Przedłuż" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Powrót do listy", "Index", null, new {@class = "btn btn-info"})
    </div>
</div>
